<%- include('../../fragments/header.ejs') %>
	<main>
		<h2>Lista Zwierząt</h2>
		<p>Brak rekordów do wyświetlenia.</p>
		<p><a href="form.ejs" class="button-add">Dodaj nowe zwierze</a></p>
		
	</main>
<%- include('../../fragments/footer.ejs') %>