<%- include('../../fragments/header.ejs') %>
	<main>
		<h2>Szczegóły adoptującego</h2>
		<form class="form">
			<label for="adopterName">Imię: </label>
			<input type="text" name="adopterName" id="adopterName" value="Jan" disabled>
			<span id="errorAdopterlName"></span>
			<label for="lastName">Nazwisko: </label>
			<input type="text" name="nazwisko" id="nazwisko" value="Kowalski" disabled>
			<span id="errorNazwisko"></span>
			<label for="email">Email: </label>
			<input type="text" id="email" name="email" value="janKowal@op.pl" disabled>
			<span id="errorEmail"></span>
			<label for="hasAnimals">Ma zwierzęta: </label>
			<input type="text" name="hasAnimals" id="hasAnimals" value="Nie" disabled>
			<span id="errorHasAnimals"></span>
			<label for="hasKids">Ma dzieci: </label>
			<input type="text" name="hasKids" id="hasKids" value="Tak" disabled>
			<span id="errorHasKids"></span>
			
			<a href="form-edit.html" class="form-button-edit">Edytuj</a>
			
			
		</form>
		<h2>Szczegóły o adopcji</h2>
		<table class="table-list">
			<thead>
				<tr>
					<th>Imię zwierzęcia</th>
					<th>gatunek</th>
					<th>wiek</th>
					<th>Może być w domu z dziećmi</th>
					
					
				</tr>
			</thead>
			<tbody>
			<tr>
				<td data-label="Imię">Gałgan</td>
				<td data-label="Gatunek">Kot</td>
				<td data-label="wiek">4</td>
				<td data-label="Może być w domu z dziećmi">Tak</td>
			
			</tr>
		</tbody>
	
		</table>
		<p><a href="list.html" class="button-back">Powrót</a></p>
		
	</main>
<%- include('../../fragments/footer.ejs') %>