<%- include('../../fragments/header.ejs') %>
	<main>
		<h2>Lista Adoptujących</h2>
		<p>Brak rekordów do wyświetlenia.</p>
		<p><a href="../adopter/form.html" class="button-add">Dodaj nowego adoptującego</a></p>
		
	</main>
<%- include('../../fragments/footer.ejs') %>