<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <link rel="stylesheet" href="../../css/style.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>PUPIL adopcje Demo</title>
    <script type="application/javascript" src="../../js/validationCommon.js"></script>

</head>
<body>
<header>
    <h1>PUPIL adopcje</h1>
    <img src="../../images/logo.png" alt="PUPIL Logo">
</header>
<nav>
    <ul>
        <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">Strona główna</a></li>
        <li><a href="/animals" class="<%= navLocation == 'animal' ? 'active' : ''%>">Zwierzęta</a></li>
        <li><a href="/volunteers" class="<%= navLocation == 'volunteers' ? 'active' : ''%>">Wolontariusze</a></li>
        <li><a href="/Adopters" class="<%= navLocation == 'Adopters' ? 'active' : ''%>">Adoptujący</a></li>
    </ul>
</nav>